USE [master]
GO
/****** Object:  Database [UnderProDemo2025]    Script Date: 15/01/2025 23:09:20 ******/
CREATE DATABASE [UnderProDemo2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UnderProDemo2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UnderProDemo2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UnderProDemo2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UnderProDemo2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UnderProDemo2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UnderProDemo2025]
GO
/****** Object:  Table [dbo].[SurveyResponses]    Script Date: 15/01/2025 23:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyResponses](
	[AgeGroup] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[YearsExperience] [nvarchar](50) NOT NULL,
	[Profession] [nvarchar](50) NOT NULL,
	[Education] [nvarchar](50) NOT NULL,
	[WorkPreference] [nvarchar](50) NOT NULL,
	[ImportantJobAspect] [nvarchar](50) NOT NULL,
	[JobSatisfaction_1_5] [tinyint] NOT NULL,
	[OrganizationSize] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SurveyResponses] ([AgeGroup], [Country], [Language], [YearsExperience], [Profession], [Education], [WorkPreference], [ImportantJobAspect], [JobSatisfaction_1_5], [OrganizationSize]) VALUES (N'45+', N'Canada', N'German', N'07-àå÷', N'Data Analyst', N'Other', N'Office work', N'Salary', 2, N'201-1,000 employees')
INSERT [dbo].[SurveyResponses] ([AgeGroup], [Country], [Language], [YearsExperience], [Profession], [Education], [WorkPreference], [ImportantJobAspect], [JobSatisfaction_1_5], [OrganizationSize]) VALUES (N'18-25', N'Israel', N'French', N'10+', N'Healthcare Professional', N'PhD', N'Hybrid', N'Growth opportunities', 2, N'11-50 employees')
INSERT [dbo].[SurveyResponses] ([AgeGroup], [Country], [Language], [YearsExperience], [Profession], [Education], [WorkPreference], [ImportantJobAspect], [JobSatisfaction_1_5], [OrganizationSize]) VALUES (N'36-45', N'Canada', N'Spanish', N'03-éåð', N'Data Analyst', N'High School', N'Office work', N'Work-life balance', 5, N'1-10 employees')
GO
USE [master]
GO
